# raw and generated data
data/raw/
data/processed/

# training outputs
runs/
wandb/
models/checkpoints/

# Large local/exported files
*.pt
*.onnx
*.weights
*.engine

!models/final/.gitkeep
# local files
.env
*.log

__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store
Thumbs.db
