# raw and generated data
data/raw/
data/processed/

# training outputs
runs/
wandb/
models/checkpoints/
checkpoints/
ultralytics_runs/

# Large local/exported files
*.pt
*.onnx
*.weights
*.engine
*.zip

# final model documentation only
!models/final/README.md
!models/final/.gitkeep

# local files
.env
*.log

# very large training logs
reports/logs/yolov4/logs/yolov4_train_log.txt

__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store
Thumbs.db
