[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
pillow = "*"
pyyaml = "*"
tqdm = "*"
opencv-python = "*"
ultralytics = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"

[requires]
python_version = "3.11"
